<% if notice != nil %>
  <p id="notice" class="alert alert-success" role="alert"><%= notice %></p>
<% end %>

<h1><%= @destination.city %>, <%= @destination.country %></h1>

<%= image_tag @destination.avatar.url %>

<h2>Population: <%= @destination.population %></h2>

<p><%= @destination.latitude %>, <%= @destination.longitude %></p>
<p><%= @destination.address %></p>
<p><%= @destination.description %></p>

<div id="destination-map"></div>

<div class="btn-group">
  <%= link_to 'Edit', edit_destination_path(@destination), class: "btn btn-default" %> |
  <%= link_to 'Back', destinations_path, class: "btn btn-default" %>
</div>

<%= javascript_tag do %>
   latitude = '<%= j @destination.latitude.to_s %>';
   longitude = '<%= j @destination.longitude.to_s %>';
   address = '<%= j @destination.address %>';
   description = '<%= j @destination.description %>';
<% end %>
